body {
    background-color: rgb(146, 210, 147);
    color: white;
    font-family: Arial;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size:50px;
}

.move-icon {
    width: 100px;
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.move-button {
    background-color: transparent;
    border: 10px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.move {
    text-align: center;
    font-size: 40px;
}

.result {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px
}

.score {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.reset {
    background-color: white;
    border: none;
    font-size:15px;
    padding: 10px 15px;
    cursor: pointer;
}